/*header*/

header nav a{
	color: #000;
	text-decoration: none;
	padding: 1rem;
    margin-inline: 5px;
}
header nav a:hover, header nav a.active{
	color: var(--primary);
	text-decoration: underline;
}

/*end header*/

/* login form */
.login-form{
	background-color: #fff;
	border-radius: 10px;
	border: 1px solid #fff;
	overflow: hidden;
}
.form-group{
	margin-bottom: 10px;
	position: relative;
}
.form-group label{
	color: #666;
	margin-bottom: 2px;
}
.backFilter .dropdown-menu{
	padding: 1rem;
	padding-top: 20px;
}
.backFilter .form-group{
	margin-bottom: 1.5rem;
}
.backFilter .form-group .form-control{
	height: 35px;
}
.backFilter .form-group label{
	position: absolute;
	top: -10px;
	left: 10px;
	color: var(--primary);
	font-size: 13px;
	background-color: #fff;
	padding-inline: 5px;
	margin: 0;
}

.backFilter .form-group label span{
	font-size: 18px;
}



.login-section h1, .register-section h1{
	font-size: 45px;
}


/* end */


/* home-banner */
.home-banner {
	background: url('../img/banner-bg.svg');
    background-size: cover;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
	padding: 2rem;
}
.home-banner .inner-banner{
	padding: 2rem;
    border: 1px solid #fff9;
    border-radius: 15px;
    background-color: #ffffff17;
    backdrop-filter: blur(6px);
	height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.slider-image{
	margin-right: 2rem;
	text-align: left;
	position: relative;
	overflow: hidden;
	border-radius: 20px;
}
.slider-image a{
	background-color: #0004;
	padding: 10px;
	color: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	text-decoration: none;
	width: 100%;
}
.slider-image a:hover{
	background-color: #0006;
	text-decoration: underline;
}

#bannerSlider .slick-list{
	width: 90%;
}

#bannerSlider .slick-prev, #bannerSlider .slick-next{
	border: 1px solid #fff;
    color: #fff !important;
}

#bannerSlider .slick-next{
    right: 0;
}

.slick-slide img{
	width: 100%;
	max-height: 300px;
    object-fit: cover;
    object-position: center;
}



#matchMakingSlider .slick-track{
	padding-block: 2rem;
}

#matchMakingSlider .slick-prev{
	left: 0;
}

#matchMakingSlider .slick-next{
	right: 0;
}

#matchMakingSlider .slick-prev, #matchMakingSlider .slick-next{
	top: -40px;
}
#matchMakingSlider .card{
	box-shadow: 4px 4px 21px 0px rgba(0, 0, 0, 0.10);
}

.banner-card .card{
	max-width: 400px;
}

#matchMakingSlider .card .card-header, .banner-card .card .card-header{
	background-color: var(--primary);
	color: #fff;
	border: 0;
	z-index: 1;
}
#matchMakingSlider .card .card-body, .banner-card .card .card-body{
	padding: 1rem;
}
#matchMakingSlider .card .card-body :is(.left-team, .right-team), .banner-card .card .card-body :is(.left-team, .right-team){
	width: 100px;
}

#matchMakingSlider .card .card-body img, .banner-card .card .card-body img{
	max-width: 70px;
	margin: auto;
}

#matchMakingSlider .card, .banner-card .card{
	border-radius: 8px;
	position: relative;
	overflow: hidden;
}
#matchMakingSlider .card:after, .banner-card .card:after{
	width: 60%;
    height: 35px;
    border-radius: 8px;
    content: '';
    clear: both;
    display: block;
    background-color: #1DAF53;
    position: absolute;
    top: 8px;
    right: 0px;
    transform: rotate(-4deg);
    z-index: 0;
}


#matchMakingSlider .slick-list{
	--rem: 1.5rem;
	width: calc(100% + (var(--rem) * 2));
	margin-left: calc(-1 * var(--rem));
	/* margin: auto; */
}
#matchMakingSlider .slider-content{
	margin-inline: var(--rem);
}



.machmake-section, .createtour-section {
	background: url('../img/match-macking-bg.svg') no-repeat center/contain;
}

.team-list ul li{
	background-color: #fff;
	border-radius: 10px;
	position: relative;
	padding: 0.7rem 2rem;
	margin-bottom: 1rem;
}
.team-list ul li::before{
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	background-color: var(--primary);
	height: 45%;
	width: 5px;
	border-radius: 2px;
	content: '';
	clear: both;
}


/* wizard */

/* wizard end */



.tournament-banner .carousel-inner{
	border-radius: 10px;
}
.tournament-banner .inner-banner{
    padding: 8vw 5vw;
    position: relative;
    z-index: 9;
    background-color: #082e1555;
}

.tournament-banner .carousel-item img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
}
.tournament-banner .carousel-item{
	position: absolute;
    top: 0;
	left: 0;
    z-index: -1;
    height: 100%;
	width: 100%;
}



footer {
	background: url('../img/footer-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
	padding: 1rem;
}
footer .foot-titile{
	text-transform: uppercase;
	color: var(--primary);
	font-weight: 600;
	margin-bottom: 1.5rem;
}

footer .foot-subtitile{
	margin-top: 1.4rem;
	color: var(--primary);
}

.web-address li{
	display: flex;
	padding-bottom: 1rem;
}

.web-address li p{
	margin-bottom: 0;
}

.web-address li .material-symbols-rounded{
	--size: 45px;
	width: var(--size);
	height: var(--size);
	line-height: var(--size);
	/* text-align: center; */
	border-right: 2px solid var(--primary);
	color: var(--primary);
	font-size: 2rem;
	margin-right: 20px;
}



/* wizard */

.wizard {
	position: relative; 
	display: flex;
    flex-wrap: wrap;
	--wsize: 50px;
}
  
.wizard > .steps {
    writing-mode: vertical-lr;
	position: absolute;
}
  
.wizard > .steps .current-info{
	display: none; 
}
  
.wizard > .steps ul {
	display: flex;
	justify-content: center; 
}
  
.wizard > .steps li a {
	display: inline-block;
    width: 30px;
    line-height: 30px;
    height: 30px;
    border-radius: 50%;
    text-decoration: none;
    margin-top: var(--wsize);
    border: 1px solid var(--primary);
    color: var(--primary);
    text-align: center;
    position: relative;
    writing-mode: horizontal-tb;
}
.wizard > .steps li a:before, .wizard > .steps li a:after {
	content: "";
	--size: 2px;
	width: var(--size);
	height: var(--wsize);
	background: none;
	border: 1px dashed var(--primary);
	position: absolute;
	left: calc(50% - (var(--size) / 2));
	top: calc(-1 * var(--wsize)); 
	transition: all 0.6s ease;
}

.wizard > .steps li a:after { 
	background: var(--primary);
	height: 0;
	border: 0;
}

.wizard > .steps li.checked a:after {
	  height: var(--wsize);
}
.wizard > .steps li.checked a, .wizard > .steps li.first a {
	background: var(--primary);
	color: #fff; 
}
.wizard > .steps li:first-child a {
	margin-top: 0; 
}

.wizard > .steps li:first-child a:before, .wizard > .steps li:first-child a:after, #wizard .actions .disabled{
	display: none; 
}

#wizard > .actions {
	flex-basis: 100%;
}

#wizard > .actions ul{
	display: flex;
	justify-content: right;
	border-bottom: 1px solid var(--primary);
	padding-bottom: 5px;
}
#wizard > .actions ul li a{
	border-radius: 5px;
    background: var(--primary);
    color: #fff;
    padding: 5px 16px;
    text-decoration: none;
    margin-left: 10px;
}

#wizard > .content, #wizard > .actions  {
	padding-left: var(--wsize);
}

#wizard > .content  {
	order: 1;
	flex-grow: 1;
}
  
.network-wizard{
	height: 100%;
}
.network-wizard .wrapper {
	height: calc(100% - 70px);
}


/* end wizard */



/* search-group */
/* .search-group{
	padding: 10px 20px;
    background: #fff;
    border-radius: 50px;
}

.search-group .btn-group button.blr {
    border-radius: 50px 0px 0px 50px;
}
.search-group .btn-group button.brr {
    border-radius: 00px 50px 50px 0px;
}

.search-group:has(> #searchPlayers:focus){
	box-shadow: 4px 4px 20px 0px #00000026;
} */

.btn.back-btn{
	color: #222;
	font-size: 18px;
	padding: 0;
	text-decoration: none;
}
.back-btn:hover, .back-btn:active, .back-btn:focus{
	color: var(--primary);
}


.player-cards .player-img img{
	object-fit: cover;
    object-position: center;
}
.player-cards .player-details p{
	font-size: 12px;
	margin-bottom: 10px;
	color: #6A6A6A;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
}


.history-section{
	background: url('../img/history-bg.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 3rem 0;
}


/* createtour-section */
.tour-tab{
    border-radius: 5px 5px 0 0;
    background-color: var(--primary);
    color: #fff;
    margin: 0;
    margin-right: auto;
    padding: 5px 12px;
    font-size: 1rem;
	display: inline-block;
}
.tour-tab .badge{
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50px;
    color: var(--primary);
    vertical-align: middle;
	background-color: #fff;
}
.createtour-section .tour-details{
	height: 100%;
}
.createtour-section .tour-details .card{
	height: calc(100% - 30px);
}
.match-notes{
	background-color: #e2ffed;
}

/* end  createtour-section */


#faqAccordion .accordion-item{
	border: 0;
	margin-block: 10px;
	border-radius: 6px;
    overflow: hidden;
}
#faqAccordion .accordion-header .accordion-button{
	background: #fff !important;
	font-weight: 600;
	font-size: 1.3rem;
}

#faqAccordion .accordion-header .accordion-button:not(.collapsed){
	color: var(--primary);
}
#faqAccordion .accordion-header .accordion-button:not(.collapsed):after{
	filter: hue-rotate(-70deg);
}

.searchbox {
	--width: 25px;
}

.searchbox .material-symbols-rounded{
	padding: 0;
    background: no-repeat;
    border: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3px;
	width: var(--width);
    z-index: 9;
	color: #888;
	font-size: 20px;
}
.searchbox input{
	border-radius: 5px !important;
	padding-left: calc(var(--width) + 5px);
}



.primary-card{
	padding: 1rem;
	border: 1px solid var(--primary);
	border-radius: 6px;
}

.tour-tab + .primary-card, .tour-tab + div :is(.primary-card){
	border-top-left-radius: 0px;
}

.point-number li{
	width: 30px;
}
.points-input input.form-control{
    width: 30px;
    height: 30px;
    border-radius: 4px;
    padding: 0;
    text-align: center;
    font-weight: 600;
}

.team-point > li:first-child{
	padding-top: 8px;
}

.team-point > li:not(:last-child){
	padding-bottom: 12px;
	margin-bottom: 12px;
	border-bottom: 1px solid #ddd;
}




.win-ad {
	background: url('../img/win-bg.svg') no-repeat center/cover;
}

.win-ad button:not(:hover){
	background-color: #fff;
}

.team-card .team-list:not(:last-child){
	padding-bottom: 8px;
	margin-bottom: 8px;
	border-bottom: 1px solid #ddd;
}



/* profile-card */
.profile-card .primary-card{
	width: min(400px, 100%);
	background-color: #fff;
	margin: 0 auto 2rem;
}

.profile-card .player-img{
    border-radius: 50%;
    max-width: 100px;
    margin: 5px 10px;
    overflow: hidden;
	position: relative;
    border: 3px solid var(--primary);
    flex-shrink: 0;
    box-shadow: 0px 0px 0px 5px #1DCE5C33, 0px 0px 0px 10px #1DCE5C1A;
}
.profile-card .player-img .uploadImg{
	position: absolute;
    width: 100%;
    height: 100%;
    font-size: 11px;
    background: #00000094;
    color: #fff;
    padding-top: 18px;
}


.profile-section {
	background: url(../img/PICKLEBALL.svg) no-repeat center 150px/70% fixed;
}

.profile-details :is(input, select) {
	font-weight: 600;
	transition: all linear 0.2s;
}

#profilePic{
	position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.editMode .uploadImg, .editMode #discardBtn, .editMode #saveBtn{
	display: none;
}

#editBtn{
	display: none;
}

.editMode #editBtn{
	display: block;
}
.editMode .gen-info :is(input, select){
	padding: 0;
    border: 0;
	background: transparent;
	pointer-events: none;
}





/* Responsive */

@media (max-width: 991px) {
	header nav a {
		padding-inline: 10px;
	}
	
	.login-section h1, .register-section h1{
		font-size: 38px;
	}
	.home-banner, .home-banner .inner-banner{
		padding: 1rem;
	}
}


@media (max-width: 767px) {
	header nav a {
		display: block;
	}
	.nav-section {
		position: fixed;
		left: -100%;
		top: 0;
		width: min(400px, 100%);
		padding: 2rem 1rem;
		transition: all ease-in-out 0.3s;    
		background: #fff;
		z-index: 9;
		height: 100dvh;
		overflow: auto;
	}
	.nav-section ul{
		flex-wrap: wrap;
	}
	.nav-section ul li{
		display: block;
		width: 100%;
		font-size: 1.2rem;
	}
	.nav-section.active{
		left: 0;
	}
		
	.profile-section {
		background-size: 90%;
	}

}

